

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
    scroll-behavior: smooth;
    scroll-margin-top: 120px;



}

:root {
    --color-nav: #d9848d;
    --color-text: rgb(255, 255, 255);
    --color-hover: rgb(114, 71, 104);
}

/*estilos nav*/

.header__nav {
    background-color: var(--color-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
   
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.733);


}

.nav__logo {
    width: 100px;
    height: 120px;
    transform: scaleX(-1);
}

.nav__link {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nav__link a:hover {
    color: var(--color-hover);
}

.Home {
    height: 100vh;
    width: 100%;
    background-image: url(img/gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9848cbd;
    background-blend-mode: multiply;
    background-position: center;
    margin-top: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;


}

.Home__slogan {
    background: linear-gradient(to right, rgb(252, 250, 250), #e91026, #720a14);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px rgba(238, 232, 232, 0.63);
    font-size: 100px;
    font-weight: 800;
 

}

.Home__text{
    font-size: 30px;
}

.Home__button{
    border: none;
    background-color: var(--color-nav);
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.Home__button:hover{
    color: var(--color-hover);
    box-shadow: 0 0 20px var(--color-hover);
}


/*estilos About Us*/

.About{
    background-color: #92252c ;
    height: 100vh;
}

.About__title,
.Products__title{
    padding: 50px;
    font-size: 70px;
    text-align: center;
    
}

.About__benefits{
    display: flex;
    padding: 20px;
    gap:  10px;
   margin: auto;
   max-width: 980;
    
}

.benefits__1,
.benefits__2,
.benefits__3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color:  #222c32be ;
    border-radius: 20px;
    height: 300px;
}

/*estilos Products*/

.Products{
    height: fit-content;
    background-color: var(--color-nav);
   
}

.Products__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: fit-content;
    padding: 10px;
    background-color:#222c32be ;
    border-radius: 20px;
}

.card__img{
    width: 200px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
}

.card__img:hover{
    width: 210px;
    height: 200px;
}

.card__btn{
    border: none;
    background-color: var(--color-nav);
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

span{
    font-size: 25px;
    color: #d9848d;
}

.card__carro{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.shop{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}